<%# <%= params[:question].inspect%>
<%# <%= @coach_response.inspect%>
<div class="w-full max-w-xs">
  <div action="/answer" data-turbo="false" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <p>
        <%= @user_question%>
      </p>
    </div>
    <div class="flex items-center justify-between">
      <p>
        <%= @coach_response%>
      </p>
    </div>
    <div>
      <p><%= link_to "Ask new question", ask_path %></p>
    </div>
  </div>
</div>
